<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About</title>
    <link rel="stylesheet" href="../style.css" />
  </head>
  <body>
    <header class="header">
      <nav id="navbar">
        <ul>
          <li><a href="../index.html">Home</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="/components/contact.html">Contact</a></li>
        </ul>
      </nav>
    </header>
    <h1>About me page</h1>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatem
      officiis, eveniet voluptatum in enim dolores error. Non optio illum quis a
      nobis fuga adipisci, dignissimos saepe aliquam sit aut ut. Lorem ipsum
      dolor sit amet, consectetur adipisicing elit. In, corrupti ducimus. Optio,
      minus molestiae. Autem labore perferendis rerum accusamus optio modi
      possimus facilis ullam nostrum quasi laborum quaerat, maxime sequi!
    </p>
    <script src="../script.js"></script>
  </body>
</html>
