<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Contact</title>
    <link rel="stylesheet" href="../style.css" />
  </head>
  <body>
    <header class="header">
      <nav id="navbar">
        <ul>
          <li><a href="/index.html">Home</a></li>
          <li><a href="/components/about.html">About</a></li>
          <li><a href="#contact">Contact</a></li>
        </ul>
      </nav>
    </header>
    <h1>Contact me page</h1>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quibusdam
      dolorum blanditiis, ipsa nisi quam perspiciatis esse natus deserunt
      dolorem dolores, nostrum nihil enim voluptatibus? Tempora, maiores! Qui
      reprehenderit dolore amet? Eos consectetur illo facilis. Voluptatum,
      debitis ipsa eius eaque dolor, molestiae tenetur adipisci enim unde
      distinctio hic, ut dolorum perferendis aperiam nulla veritatis assumenda
      quas aspernatur nesciunt fuga rerum id? Officiis, temporibus delectus
      cumque repellendus magni quis quaerat necessitatibus voluptatum dolorum
      minima a odio quae doloribus. Repellat, voluptatibus sed. Porro dicta
      magnam delectus, qui officia nesciunt placeat veniam quo temporibus.
    </p>
    <script src="../script.js"></script>
  </body>
</html>
